@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

:root {
    --ff-body: 'Nunito', sans-serif;
    --background-el: hsl(0, 0%, 100%);
    --body: hsl(0, 0%, 98%);
}

/* Default Styles and Classes */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-body);
}

body {
    background: var(--background-el);
    color: hsl(200, 15%, 8%);
}

body.dark {
    --body: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 98%);
    --background-el: hsl(209, 23%, 22%);
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}

ul {
    list-style: none;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.bs {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.br {
    border-radius: 5px;
}

/* Header */

header {
    background: var(--background-el);
    padding: 2rem 1rem;
}

.header-wrapper {
    align-items: center;
}

.logo-title {
    font-size: 1.2rem;
}

.theme-btn {
    color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

/* Search Section */

.search-filter {
    flex-direction: column;
}

.search-input {
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

#search {
    width: 80%;
    font-size: 1rem;
    border: none;
    padding-left: .5rem;
    color: hsl(0, 0%, 52%);
    background: none;
}

.dropdown {
    width: 60%;
    font-weight: 600;
    background: var(--background-el);
    cursor: pointer;
    position: relative;
}

.filter-title {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.fa-chevron-down {
    margin-left: 20px;
}

.dropdown ul {
    background: inherit;
    margin-top: .5rem;
    padding: 1rem;
    display: none;
    padding: 1rem 2rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
}

li {
    padding-block: .5rem;
}

.dropdown.open ul {
	display: block;
}

/* Country List styles */

.country-lists {
    margin-top: 2rem;
}

.country-card {
    margin-bottom: 2.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flag-image {
    object-fit: cover;
}

.info {
    padding: 2rem 1.5rem;
}

.country-name {
    padding-bottom: 1.5rem;
}

.info > p {
    padding-bottom: .5rem;
}

/* Modal Section */

.modal {
    display: none;
}

.modal-container {
    padding: 2rem 1rem;
}

.close-btn {
    background: var(--background-el);
    font-size: 1rem;
    border: none;
    padding: .5rem 2rem;
    color: inherit;
}

.fa-solid {
    margin-right: .5rem;
}

.modal-content {
    margin-top: 4rem;
}

.flag-section {
    margin-bottom: 2.5rem;
}

.country-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.country-details h3 {
    font-weight: 600;
    padding-bottom: .5rem;
}

.country-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.details-1 {
    padding-bottom: 3rem;
}

/* Tablet design */

@media (min-width: 768px) {

    .search-filter {
        flex-direction: row;
    }

    .search-input {
        width: 50%;
    }

    .dropdown {
        width: 30%;
    }

    .dropdown ul {
        margin-top: 0;
    }

    .country-lists {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 4rem;
    }

    .flag-image {
        height: 250px;
        object-fit: cover;
    }

    .modal-container {
        padding: 3rem;
    }

    .country-details {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {

    header {
        padding-inline: 2rem;
    }

    .search-input {
        width: 40%;
    }

    .dropdown {
        width: 20%;
    }

    .country-lists {
        display: grid;
        grid-template-columns: repeat(4, minmax(250px, 1fr));
        grid-gap: 4rem;
    }

    .modal-content {
        display: grid;
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        grid-gap: 4rem;
    }

    .country-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
