@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

:root {
    --ff-body: 'Nunito', sans-serif;
    --background-el: hsl(0, 0%, 100%);
    --body: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-body);
}

body {
    background: var(--background-el);
    color: hsl(200, 15%, 8%);
}

body.dark {
    --body: hsl(207, 26%, 17%);
    color: var(--body);
    --background-el: hsl(209, 23%, 22%);
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: hsl(200, 15%, 8%);
}

ul {
    list-style: none;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.bs {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.br {
    border-radius: 5px;
}

/* Header */

header {
    background: var(--background-el);
    padding: 2rem 1rem;
}

.header-wrapper {
    align-items: center;
}

.logo-title {
    font-size: 1.2rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
}

.search-filter {
    flex-direction: column;
}

.search-input {
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

#search {
    width: 80%;
    font-size: 1rem;
    border: none;
    padding-left: .5rem;
    color: hsl(0, 0%, 52%);
}

.dropdown {
    width: 60%;
    font-weight: 600;
}

.filter-title {
    padding: 1rem;
}

.dropdown ul {
    margin-top: .5rem;
    padding: 1rem;
    display: none;
}

.modal {
    display: none;
}

